@font-face {
    src: url('../fonts/ARCADECLASSIC.TTF');
    font-family: Arcade;
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.dirty-white {
    color: #E8E4C9;
}

.start-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.begin {    
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    color: white;
    background-color: black;
    border: none;
    animation: blink 500ms infinite;
}

.transition {
    transition-duration: 3s;
}

.quick-transition {
    transition-duration: .25s;
}

.white {
    background-color: white;
}

.arcade {
    font-family: 'Arcade', 'Times New Roman', 'serif';
    font-size: 18px;
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.copyrights {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.format {
    display: flex;
    flex-flow: column;
}

.gkh, .odin, .kenny {
    padding: 5px 0;
    margin: 0;
    text-align: start;
}

.pokefight, .topbox, .action, .bottombox {
    display: flex;
}

.pokefight {
    flex-flow: column wrap;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.topbox_cover, .bottombox_cover {
    position: absolute;
    background-color: #ffffff;
}

.topbox, .bottombox {
    background-color: #000000;
}

.topbox, .bottombox, .topbox_cover, .bottombox_cover {
    width: 100vw;
    height: 20%;
}

.topbox_cover {
    top: 0%;
}

.bottombox_cover {
    bottom: 0%;
}

.topbox {
    justify-content: center;
}

.action {
    background-color: #ffffff;
    width: 100vw;
    height: 60%;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.hxhlogo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
}

.lightning {
    width: 500px;
    height: 100vh;
    z-index: 1;
}

.godSpeed {
    animation: electric 250ms infinite;
}

.container {
    display: flex;
    gap: 5px;
    margin: 0;
    position: absolute;
    bottom: 25%;
}

.electricity1, .electricity2, .electricity3 {
    width: 100px;
    height: 100px;
}


.hxh {
    width: 150px;
    height: auto;
}

.jiggly {
    display: flex;
    width: 100vw; 
}

.walking {
    position: relative;
    width: 150px;
    height: 150px;
    left: 0%;
}

.loading-screen {
    display: flex;
    overflow: hidden;
    flex-flow: column;
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-flow: column;
    width: 100vw;
    height: 40%;
    flex-shrink: 0;
    margin-bottom: 10px;
}

.logo-rps {
    display: flex;
    justify-content: center;
    align-items: center;
}

.moveDown {
   top: -50%;
   position: relative;
   flex-shrink: 0;
   margin: 0;
}

.version-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.version {
    right: -20%;
    position: relative;
    flex-shrink: 0;
}

.poke {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50%;
}

.placeholder {
    width: 200px;
    height: auto;

    bottom: -30%;
    position: relative;
}

.trainer_pic {
    width: 150px;
    height: auto;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.transparent {
    opacity: 0;
}


.choices {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}


.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.rock, .paper, .scissors {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.scores {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.text {
    font-size: 25px;
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


@keyframes electric {
    0% {
        color: #B3CEFF;
    }

    25% {
        color: #86FAF2;
    }

    50% {
        color: #00A6D7;
    }

    75% {
        color: #86FAF2;
    }

    100% {
        color: #B3CEFF;
    }
}

@keyframes blink {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    } 
}
